/* Assign color and background-color to body, p, h2 tags */
$color: #3D3D3D;
$backgroundcolor: #6D6D6D;

body {
  color: $color;
  background-color: $backgroundcolor;
}

p {
  color: $color;
}

h2 {
  background-color: $backgroundcolor;
}
